.remove-btn{
    margin-left: 10px;
}

.cart-container {
    margin-top: 20px;
}

.remove-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Adjusting size of cart item image */
.cart-item-image {
    max-width: 200px; /* Adjust the max-width as needed */
    height: auto;
}

.cart-items-container {
    max-height: 400px; /* Set the maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds container height */
}

.empty-cart-message {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

